/* CONTAINER */

.footer-container
{
    background-color: #2d3640;

    padding-top: 2rem;
    padding-bottom: 2rem;

    text-align: center;
}




/* CONTENT */

.footer-box
{
    color: white;

    font-family: 'Bebas Neue', cursive;
    font-size: 1.15rem;
    letter-spacing: .08rem;
}

.footer-box svg
{
    fill: white !important;    
    
    width: 2rem;
    height: 2rem;
}

.footer-box svg:hover
{
    fill: grey !important;
}