/* CONTIANER */

.profile-container
{
    background-color: #2d3640;

    padding-left: 2rem !important;
    padding-right: 2rem !important;


}


/* CONTENT */

.content-box
{
    font-size: 1.2rem;
    font-family: 'Bebas Neue', cursive;
    
    color: #a9b8ca;
    
    background: #3b4754;

    box-shadow: 0 3px 6px rgb(0 0 0 / 15%);

    margin-top: .5rem;
    margin-bottom: .5rem;

    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;

    border-radius: 10px;
}

.content-box p 
{
    margin: 0;
}

.content-inner-box
{

}


.prop-box
{
    color: white;
}

.input-box
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

