/* CONTAINER */

.form-container
{
  padding-top: 2rem;

  text-align: center;

  background-color: #14181d;
}



/* CONTENT */

.form-box
{
  margin-top: 1rem;
}

.input-box
{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;

  padding: .5rem;

  font-family: 'Bebas Neue', cursive;

  background: transparent;
}