/* CONTAINER */

.form-container
{
  padding-top: 2rem;

  text-align: center;

  background-color: white;
}



/* CONTENT */

.form-box
{
  margin-top: 1rem;
}


.popup {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none; 
  text-decoration: none;
  position: relative;
}
.popup span {
  margin-left: -999em;
  position: absolute;
}

.popup:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}

.classic{
  background-color:grey;
}